
<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="./"><img src="assets/img/logo.png" width="200"></a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Enter the OTP sent to your email then create a new password.</p>
    
        <form [formGroup]="loginForm">
            <div [hidden]="!errorMsg" class="alert alert-danger">{{error}}</div>
            <div class="form-group has-feedback">
                <input type="text" formControlName="otp" id="otp" required [ngClass]="(otp.invalid && (otp.dirty || otp.touched)) ? 'form-control my-3 is-invalid' : (otp.valid)? 'form-control my-3 is-valid':'form-control my-3'" placeholder="OTP" />
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                <div *ngIf="otp.invalid && (otp.dirty || otp.touched)" class="invalid-feedback">
                    <div *ngIf="otp.errors.required">OTP is required.</div>
                    <div *ngIf="otp.errors.minlength || otp.errors.maxlength">OTP must be 6 characters.</div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <input type="password" formControlName="password" id="password" required [ngClass]="(password.invalid && (password.dirty || password.touched)) ? 'form-control my-3 is-invalid' : (password.valid)? 'form-control my-3 is-valid':'form-control my-3'" placeholder="New Password" />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                    <div *ngIf="password.errors.required">New Password is required.</div>
                    <div *ngIf="password.errors.minlength">New Password must be a minimum of 6 characters.</div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <input type="password" formControlName="confirmPassword" id="confirmPassword" [ngClass]="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || ((password.value != confirmPassword.value) && confirmPassword.valid)) ? 'form-control my-3 is-invalid' : (confirmPassword.valid)? 'form-control my-3 is-valid':'form-control my-3'" required placeholder="Confirm New Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div *ngIf="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched))" class="invalid-feedback">
                    <div *ngIf="confirmPassword.errors.required">Password confirmation is required.</div>
                </div>
                <div *ngIf="(confirmPassword.valid && (password.value != confirmPassword.value)) && (confirmPassword.dirty || confirmPassword.touched)" class="invalid-feedback">
                    Password does not match
                </div>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" [disabled]="!loginForm.valid || loginForm.pending || password.value != confirmPassword.value || processing" (click)="onSubmit()" class="btn btn-primary btn-block btn-flat">{{buttonText}}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->
    
        <a href="login">Already have an account? Sign In</a><br>
    
      </div>
      <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</body>














